[submodule "cperl-mode"]
	path = cperl-mode
	url = git://github.com/jrockway/cperl-mode.git
[submodule "cucumber-mode"]
	path = cucumber-mode
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "html5-el"]
	path = html5-el
	url = https://github.com/hober/html5-el.git
[submodule "org-mode"]
	path = org-mode
	url = ./org-mode
[submodule "twittering-mode"]
	path = twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
