*.elc
*.rnc
*~
--help
.\#*\#
.cask
.org-id-locations
/.emacs.desktop
/.emacs.desktop.lock
/.local
/el-get/
/elisp/external/Emacs-PDE-0.2.16
/elisp/external/cedet
/elpa
/games
/org-roam.db
/pde
/preferences.el
/roam.db
/semanticdb/!Users!pdcawley!Dropbox!emacs.d!initscripts!semantic.cache
/srecode-map.el
/straight
/tutorial
/var
/var/
\#*#
ac-comphist.dat
autoloads.el
bookmarks
cus-dirs.el
cus-load.el
custom.el
eshell/history
eshell/lastdir
esk-org-mode.el
flc
initscripts/99passwords.el
loaddefs.el*
network-security.data
org-clock-save.el
projectile-bookmarks.eld
recentf
semantic.cache
server
session.*
straight/build
straight/build-cache.el
straight/repos
tramp
url
